jupyter==1.0.0
jupyterlab==0.31.12
numpy==1.13.3  # mxnet requires numpy <= 1.13.3
cython==0.28.1
scipy==1.0.0
statsmodels==0.8.0
patsy==0.5.0
pandas==0.22.0
matplotlib==2.2.2
seaborn==0.8.1
bokeh==0.12.14
plotly==2.5.0
dash==0.21.0
dash-renderer==0.11.3
dash-html-components==0.9.0
dash-core-components==0.21.0
holoviews==1.9.5
scikit-learn==0.19.1
pillow==5.0.0
scikit-image==0.13.1
gensim==3.4.0
nltk==3.2.5
sympy==1.1.1
cloudpickle==0.5.2
dill==0.2.7.1
numba==0.37.0
xray==0.7.0
pyarrow==0.8.0
tensorflow==1.6.0
keras==2.1.5
xgboost==0.7.post3
mxnet==1.1.0
chainer==3.5.0